[Unit]
Description=Chromatic Headless
After=network.target

[Service]
ExecStart=/home/pi/Entwined/chromatik/headless.sh
WorkingDirectory=/home/pi/Entwined/chromatik
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
