[Unit]
Description=AutoSSH service for a reverse tunnel from 950arnold.ddns.net to entwined pi
After=network-online.target

[Service]
ExecStart=/usr/bin/autossh -M 0 -q -N -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -R *:9070:localhost:22 ent@950arnold.ddns.net -p 9091 -i /home/pi/.ssh/id_rsa
User=pi
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target

