[Unit]
Description=LXStudio Headless
After=network.target

[Service]
ExecStart=/home/ent/Entwined/oldlx/run-headless.sh
WorkingDirectory=/home/ent/Entwined/oldlx
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
